html,body{
	height:100%;
	width:100%;
	font-family:sans-serif;
	color:#222;
}

.navbar {
  padding:.8rem;
}
.navbar-custom {
  background-color: #3f3f3f;
  color : #ffffff;
}
.navbar-nav li {
  padding-right:20px ;
 
}
.nav-link {
  font-size: 1.1em !important;
}
.padding {
  padding-bottom: 1rem;
}

.img-fluid {
 max-width: 50%;
 margin-left: 2em;
}

.my-4 {
  border-top: solid #3f3f3f;
}

footer {
  background-color: #3f3f3f;
  color : #ffffff;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width:75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #ffffff;
}
hr.light-100 {
  border-top: 1px solid #ffffff;
  width:100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
[class*="col-"] {
      padding: 1rem;
  }
